body {
  background: green;
}

.card {
  background: white;
  display: inline-block;
  margin: auto;
  height: 400px;
  width: 250px;
  padding: 50px;
  border-radius: 15px;
  position: relative;

  &.spades:top-suit,
  &.spades:bottom-suit {
    content: "\2660";
  }
  &.clubs:top-suit,
  &.clubs:bottom-suit {
    content: "\2663";
  }
  &.hearts:top-suit,
  &.hearts:bottom-suit {
    content: "\2665";
    color: red;
  }
  &.diamonds:top-suit,
  &.diamonds:bottom-suit {
    content: "\2666";
    color: red;
  }
}

/* .top-value {
  position: absolute;
  font-size: 75px;
  top: 0;
  left: 0;
  padding-left: 10px;
} */

.top-suit {
  position: absolute;
  font-size: 75px;
  top: 0;
  left: 0;
  padding-top: 50px;
  padding-left: 15px;
}

/* .bottom-value {
  font-size: 75px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 15px;
  transform: scale(-1, -1);
} */

.bottom-suit {
  font-size: 75px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 50px;
  margin-right: 15px;
  transform: scale(-1, -1);
}

.numbers {
  font-size: 150px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
